.input{
     display: flex;
     width: 90%;
     position: relative;
     align-items: center;   
}

.input__task{
  width: 100%;
  border-radius: 50px;
  padding: 20px 50px;
  font-size: 25px;
  border: none;
  transition: 0.2s;
  box-shadow: inset 0 0 5px black;
}

.input__task:focus{
    box-shadow: 0 0 10px 1000px rgba(0, 0, 0, 0.5);
    outline: none;
}
.input__go{
   position: absolute;
   width: 50px;
   height: 50px;
   margin: 12px;
   border-radius: 50px;
   right: 0px;
   border: none;
   font-size: 15px;
   background-color: #2f74c0;
   color: white;
   transition: 0.2s all;
   box-shadow:  0 0 10px black;
}

.input__go:hover{
    background-color: #3e5a77;
}